.header {
  background-color: #6e8cd7;
  padding-bottom: 1%;
  padding-top: 1%;
}

.header-menu {
  justify-content: space-between;
  align-items: center;
}

.header-menu nav ul {
  display: flex;
  list-style: none;
  padding-left: 0;
  padding-top: 4px;
}

.header-menu nav ul > li {
  margin: 0 1.25rem;
}

.header-menu nav ul > li a {
  text-decoration: none;
  color: var(--color-white);
}

.header-menu .header-cta {
  background-color: var(--color-white);
  color: var(--color-primary);
  text-decoration: none;
  padding: 0.625rem 1.25rem;
  border-radius: 4px;
}

.logo {
  font-weight: 600;
  margin: 0;
}

.app-container button,
.app-container input,
.app-container optgroup,
.app-container select,
.app-container textarea {
  font-family: "DM Sans", sans-serif;
}
.search-input {
  border: none;
  flex: 1;
  outline: none;
  height: 100%;
  padding: 0 20px;
  font-size: 16px;
}
*/ .search-wrapper {
  border-radius: 20px;
  background: white;
  padding-right: 12px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 480px;
  color: var(--light-font);
  box-shadow: 0 2px 6px 0 rgba(255, 255, 255, 0.2),
    0 24px 20px -24px rgba(255, 255, 255, 0.1);
  overflow: hidden;
}

.search-input {
  border: none;
  flex: 1;
  outline: none;
  height: 100%;
  padding: 0 20px;
  font-size: 16px;

  color: var(--main-color);
}

.search-bar {
  width: 480px;
  padding-left: 20px;
}
